body {
    background-color: #030b19
}
h1 {
    color: #143d5b;
}


h2 {
    color:#4f81aa
   
}
p {
    color:rgb(107, 177, 239);
}
ul {
    color: rgb(107, 177, 239)
}
h1{
font-style: italic;
;
}

h2{
    font-style: italic;
}

A{
    color: #5fa8dc;
}

h2{
    font-size:65px;
}

.imagens{
width:100px;
border-radius: 10px;

}
